<!-- Author: Victor Phellyppe -->
<div class="content-page">
  <div class="question-box">
    <div class="question">
      <p>{{ curQuestion.title }}</p>
    </div>
    <div>
      <!-- <div class="time">
        30
      </div> -->
    </div>

  </div>
    <div class="answers">
        <div (click)="doAnswer(answer)" *ngFor=" let answer of curQuestion.answers; let n = index"class="answer">
          <span class="number">{{ n + 1}}</span>
          <span class="answer-text">{{ answer.description }}</span>
    </div>
  <div class="info">
    <div (click)="doErr()"> 
      <ion-button color="danger" [disabled]="desabilitado">
        <img src="../../../assets/img/pular1.png">
        <p>PULAR 1</p>
      </ion-button>
    </div>

    <div (click)="doTwoErr()">
      <ion-button color="danger" [disabled]="desabilitado2" >
        <img src="../../../assets/img/pular1.png">
        <p>PULAR 2</p>
      </ion-button>   
    </div>

    <div>
      <p> <img src="../../../assets/img/parar.png"></p>
      <p>PARAR</p>
    </div>
  </div>
</div>