<!-- Author: Victor Phellyppe -->
<div class="content-page">
  <div class="question-box">
    <div class="question">
      <p>{{ curQuestion.title }}</p>
    </div>
    <div>
      <!-- <div class="time">
        30
      </div> -->
    </div>

  </div>
    <div class="answers">
        <div (click)="doAnswer(answer)" *ngFor=" let answer of curQuestion.answers; let n = index"class="answer">
          <span class="number">{{ n + 1}}</span>
          <span class="answer-text">{{ answer.description }}</span>
    </div>
  <div class="info">
    <div (click)="doErr()">
      <p> <img src="../../../assets/img/pular1.png"></p>
      <p>PULAR 1</p>
    </div>
    <div (click)="doTwoErr()">
      <p> <img src="../../../assets/img/pular2.png"></p>
      <p>PULAR 2</p>
    </div>
    <div>
      <p> <img src="../../../assets/img/parar.png"></p>
      <p>PARAR</p>
    </div>
  </div>
</div>