<!-- Author: Victor Phellyppe -->
<div class="content-page">
  <div class="question-box">
    <div class="question">
      <p>{{ curQuestion.title }}</p>
    </div>
    <div>
      <!-- <div class="time">
        30
      </div> -->
    </div>

  </div>
    <div class="answers">
        <div (click)="doAnswer(answer)" *ngFor=" let answer of curQuestion.answers; let n = index"class="answer">
          <span class="number">{{ n + 1}}</span>
          <span class="answer-text">{{ answer.description }}</span>
    </div>
  <!-- <div class="info">
    <div>
      <p>ERRAR</p>
      <p>PERDE TUDO</p>
    </div>
    <div>
      <p>PARAR</p>
      <p>500 mil</p>
    </div>
    <div>
      <p>ACERTAR</p>
      <p>1 MILHÃO</p>
    </div>
  </div> -->
</div>