<ion-content>

    <div id="content">
    <p><b>Desenvolvido por:</b></p>
    <p>Victor Phellyppe Santos de Oliveira</p>

    <p><b>Orientado por:</b></p>
    <p>Eduardo Cardoso Moraes</p>

    <p><b>Mestrando:</b></p>
    <p>Jairo José </p>
    
    
    <br/><br/>
    <p><b>Trabalho de Conclusão de Curso:</b></p>
    <p style="text-align: center;">IFAL <br/> (Bacharelado Sistema de informação)<br/></p>
    <!-- <p style="text-align: center;"> <br/>(RAVVS/SESAU-AL)</p> -->
    <!-- <p style="text-align: center;">Secretária de Estado de Saúde</p> -->

  </div>

</ion-content>
 