ion-content {
    --background: var(--ion-color-success);

    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        p { color: white; margin: 5px; font-size: 12px;}
    }
}