<ion-content>

    <div id="content">
    <p><b>Desenvolvido por:</b></p>
    <p>Victor Phellyppe Santos de Oliveira</p>

    <p><b>Orientado por:</b></p>
    <p>Eduardo Cardoso Moraes</p>

    <p><b>Mestrando em Educação Profissional (PROFEPT):</b></p>
    <p>Jairo José de Souza</p>
    
    <!-- <p style="text-align: center;"> <br/>(RAVVS/SESAU-AL)</p> -->
    <!-- <p style="text-align: center;">Secretária de Estado de Saúde</p> -->
    
    
    <br/><br/>
    <p><b>Trabalho de Conclusão de Curso:</b></p>
    <p style="text-align: center;">IFAL <br/> (Bacharelado Sistema de informação)<br/></p>

  </div>

</ion-content>
 