<p>
  Nosso jogo, é um jogo que se inspirou no show do milhão, apresentado pelo Silvio Santos no SBT.
  <p>Regras do jogo!</p>
  <ion-item>
  <p> 1ª : O objetivo do jogo é acertar 30 perguntas..</p>
  </ion-item>
  <p> 2ª : Cada jogador pode pular 1 pergunta ou 2 perguntas, caso não saiba à resposta.</p>
  <p> 3ª : As questões são de certo ou errado ou de múltiplas escolhas.</p>
  <p> 4ª : A intenção é divulgar conhecimento sobre educação de pessoas com necessidades especiais.</p>
  <p> 5ª : Se você errar o jogo acaba. Mas você pode recomeçar e se tornar um campeão.</p>
</p>
