
<ion-header class="head">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title slot="end">Regras do jogo</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

              

       <p>
        1ª : O OBJETIVO DO JOGO É ACERTAR 30 PERGUNTAS!
      </p>
      <p>
        2ª : CADA JOGADOR PODE PULAR 1 (UMA) OU 2 (DUAS) PERGUNTAS, CASO NÃO SAIBA À RESPOSTA.
      </p>
      
      <p>
        3ª : AS QUESTÕES SÃO DE CERTO OU ERRADO OU DE MÚLTIPLAS ESCOLHAS..
      </p>
      
      <p> 
       4ª : A INTENÇÃO É DIVULGAR CONHECIMENTO SOBRE EDUCAÇÃO DE PESSOAS COM NECESSIDADES ESPECIAIS..
      </p>
      
      <p>
        5ª : SE VOCÊ ERRAR O JOGO ACABA. MAS VOCÊ PODE RECOMEÇAR E SE TORNAR UM CAMPEÃO..
      </p>
    
</ion-content>