<ion-content color="medium">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>CARTILHA LEGAL: inclusão do aluno com necessidades educacionais específicas</p>
    </ion-slide>
    <ion-slide>
    <p>É uma nova forma de aprender sobre a cartilha educacional e a inclusão dos alunos com necessidades educacionais específicas.</p>
    </ion-slide>
    <ion-slide>
      <ion-button color="success" [routerLink]="['/login']" expand="block">
        Entrar
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
