<div color="light" class="content-page">
      <!-- Logo -->
    <figure class="content-logo">
      <img src="../../assets/img/image.png" alt="Logo do aplicativo" srcset="">
    </figure>


    <!-- Botões -->
      <div class="buttons">
        <ion-button color="primary" [routerLink]="['/orientacoes']" expand="block" shape="round">
          Orientações gerais
        </ion-button>

        <ion-button color="success" [routerLink]="['/question']" expand="block"shape="round">
          Iniciar Jogo
        </ion-button>

        <ion-button color="success"expand="block" [routerLink]="['/regras']"shape="round">
          Regras do jogo
        </ion-button>

        <ion-button color="danger"expand="block" (click)="signOut()" shape="round">
          Sair    
        </ion-button>      
      </div>

</div>