<!-- Author: Victor Phellyppe -->
<div class="content-page">
  <div class="question-box">
    <div class="question">
      <p>{{ curQuestion.title }}</p>
    </div>
    <div>
      <!-- <div class="time">
        30
      </div> -->
    </div>

  </div>
    <div class="answers">
        <div (click)="doAnswer(answer)" *ngFor=" let answer of curQuestion.answers; let n = index"class="answer">
          <span class="number">{{ n + 1}}</span>
          <span class="answer-text">{{ answer.description }}</span>
    </div>
  <div class="info">
    <div (click)="doPulo()"> 
      <ion-button color="danger" [disabled]="desabilitado">
        <img  id="pule1"src="/assets/img/pule1.png">
      </ion-button>
      <p>PULE 1</p>
    </div>

    <div (click)="doTwoPulo()">
      <ion-button color="success" [disabled]="desabilitado2" >
        <p><img id="pule2"src="/assets/img/pule2.png"></p>
      </ion-button>  
      <p>PULE 2</p> 
    </div>

    <div (click)="pararAlertConfirm()">
      <p> <img src="../../../assets/img/parar.png"></p>
      <p>PARAR</p>
    </div>
  </div>
</div>