<div color="light" class="content-page">
      <!-- Logo -->
    <figure class="content-logo">
      <img src="../../assets/img/image.png" alt="Logo do aplicativo" srcset="">
    </figure>

      
    

    <!-- Botões -->
      <div class="buttons">
        <ion-button color="success" [routerLink]="['/question']" expand="block">
          Iniciar Jogo
        </ion-button>

        <ion-button color="success"expand="block">
          Recordes
        </ion-button>

        <ion-button color="danger"expand="block">
          Sair    
        </ion-button>      
      </div>

</div>