@import '../../colors.scss';


.content-page{
  width: 100%;
  height: 100%;
  background: linear-gradient($background, $background-secondary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

.content-logo{
  padding: 15px;
  display: flex;
  justify-content: center;
}
.buttons {
 padding: 10px; 
}
}
// .content-page figure img{
//   margin-left: 65px;
// }
